* {
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #EBEBEB;
	color: #707070;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

#header {
	display: block;
	height: 130px;
	width: 100%;
	background: -moz-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -webkit-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -o-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -ms-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
}

#header-container {
	margin: 0 auto;
	width: 960px;
	height: inherit;
}

#logo {
	margin-top: 20px;
	float: left;

}

#main-nav {
	float: right;
	margin-top: 60px;
	/*height: 30px;*/
}

#main-nav ul {
	list-style: none;
	height: inherit;
}

#main-nav li{
	margin: 0;
	display: inline;
	padding-left: 35px;
}

#main-nav li a {
	padding: 5px;
	text-decoration: none;
	color: #555555;
	font-weight: bold;
}

#main-nav a:hover {
	color: #ffffff;
	background-color: #ebebeb;
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 7px;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	height: 760px;
	background-color: #f8f9f8;
	border: solid 1px #DDDDDD;
 	-webkit-box-shadow: 0px 0px 2px ebebeeb;  
     -moz-box-shadow: 0px 0px 2px #ebebeb;  
	box-shadow: 0px 0px 2px #ebebeb;
   
   	border-radius: 12px 12px 0 0;
}

#container {
	width: inherit;
	height: 330px;
/* 	outline: solid 2px green; */
	background-color: #f8f9f8;
	border-radius: 12px 12px 0 0;
	background: -moz-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -webkit-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -o-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
	background: -ms-linear-gradient(270deg, #FFFFFF 30%, #EBEBEB);
 	border-bottom: solid 1px #DDDDDD;
 	box-shadow: 0px 0px 2px #ebebeb;
}

#footer {
	margin: 0 auto;
/* 	outline: solid 2px green; */
	width: 960px;
	height: 100px;
}